html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 10rem;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.search-bar {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 47px;
    display: flex;
    margin-left: 25rem;
    margin-right: 25rem;
    width: 100%;
    min-width: 1000px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.search-input {
    width: 100%;
    background: #fff;
    border: 0;
    display: block;
    padding: 1rem 1rem;
    box-shadow: none;
    outline: 0;
    font-size: 1rem;
  }

.result-list {
    min-width: 700px;
    max-width: 1000px;
    margin-top: 5rem;
    padding-inline-end: 40px;
}

.result-item {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.7);
}

